@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#root {
  width:100vw;
  height:100vh;
}


@media (min-width: 520px) {
  html {
    font-size: 68%;
  }
}

html {
  font-size: 50%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  font-size: 2rem;
  width: 100%;
}


h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-audio-upload {
  position: relative;
  display: inline-block;
}

.custom-audio-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-audio-upload label {
  display: inline-block;
  color: #007BFF;
  border-style: dashed;
  border-color: #007BFF;
  border-width: 0.2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.custom-audio-upload label:hover {
  background: #0056b3;
}

.button_to_disable_on_win {
  opacity: 0.6;
}

.ToggleGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 0.8rem;
}

.ToggleGroupItem {
  color: var(--accent-9);
  background-color: white;
  padding: 0.5rem;
  margin: 0.3rem;
}

.ToggleGroupItem[data-state='on'] {
  color:white;
  background-color: var(--accent-9)
}


.ProgressRoot {
  position: relative;
  overflow: hidden;
  background: var(--black-a9);
  border-radius: 99999px;
  width: 300px;
  height: 25px;

  /* Fix overflow clipping in Safari */
  /* https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.ProgressIndicator {
  background-color: orange;
  width: 100%;
  height: 100%;
  transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}

.CollapsibleRoot {
  display:flex;
  flex-grow:1;
  align-items:center;
}